<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <div *ngIf="currentFile" class="progress">
        <div
          class="progress-bar  progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>
      
      <label class="btn btn-default">
        <input type="file"  (change)="selectFile($event)" />
      </label>
      
      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
          Upload
      </button>
      
      <div *ngIf="message"  class="alert alert-light" role="alert">{{ message }}</div>
      
    </div>



  </div>
</div>