
<div class="container" *ngIf="showContainer">
  
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center"><h2 class="mt-5">Staff Record Management System</h2></div>
  </div>
  <div class="row one">

    <div class="col md-4">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="col mr-2">
              <a [routerLink]="['/login',{outlets:{'admin':['adminLogin']}}]" (click)="admin()" *ngIf="showAdmin" >Admin Login</a>
            </div>
            <div class="col">
              <i class="fa fa-user fa-2x" style="float: right;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col md-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col mr-2">
              <a  [routerLink]="['/login',{outlets:{'user':['userLogin']}}]" 
              (click)="user()" *ngIf="showUser">User Login</a>
            </div>
            <div class="col ">
              <i class="fa fa-user fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



<!-- <div class="col-md-8 offset-md-2">
  <div class="row">
    <div class="col-md-6 ">
      <button class="btn btn-primary btn-lg" [routerLink]="['/login',{outlets:{'user':['userLogin']}}]" 
      (click)="user()" *ngIf="showUser">Employee</button>
     </div>
     <div class="col-md-6 ">
    <button class="btn btn-success btn-lg"[routerLink]="['/login',{outlets:{'admin':['adminLogin']}}]" 
      (click)="admin()" *ngIf="showAdmin">Administrator</button>
     </div>
  </div>
</div>
    
  </div>

</div>    -->
<router-outlet name="user" *ngIf="userShow"></router-outlet>
<router-outlet name="admin" *ngIf="adminShow"></router-outlet>
<!-- <router-outlet></router-outlet> -->