/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahianita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Changa:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');



@import "font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: #eaecf4;
    font-family: 'Nanum Myeongjo', serif;
}


/* font-family: 'Bahianita', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Teko', sans-serif; */
/* font-family: 'Oleo Script Swash Caps', cursive; */
/* font-family: 'Nanum Myeongjo', serif; */
/* font-family: 'Sansita Swashed', cursive; */