<div class="container">

  <!-- <div class="row">

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="col mr-2">
              <a>Admin Login</a>
            </div>
            <div class="col">
              <i class="fa fa-user fa-2x" style="float: right;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="col mr-2">
              <a >Admin Login</a>
            </div>
            <div class="col">
              <i class="fa fa-user fa-2x" style="float: right;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="col mr-2">
              <a >Admin Login</a>
            </div>
            <div class="col">
              <i class="fa fa-user fa-2x" style="float: right;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="col mr-2">
              <a >Admin Login</a>
            </div>
            <div class="col">
              <i class="fa fa-user fa-2x" style="float: right;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> -->
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center mb-5">
      <h5>Welcome Back {{name.username}}</h5>
    </div>
  </div>
  <div class="row">
  
    <div class="col-md-4 col-sm-6">
      <div class="media one">

        <div class="media-body">
          <h5 class="mt-0">{{Personnel.data}}</h5>
          <h5>TOTAL PERSONNEL</h5>
        </div>
        <i class="fa fa-users align-self-center"></i>
   
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="media two">
        <div class="media-body">
          <h5 class="mt-0">{{Acade.data}}</h5>
          <h5> ACADEMIC STAFF</h5>
        </div>
        <i class="fa fa-users align-self-center"></i>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="media three">
    
        <div class="media-body">
          <h5 class="mt-0">{{Nacade.data}}</h5>
          <h5>NON ACADEMIC STAFF</h5>
        </div>
        <i class="fa fa-users align-self-center"></i>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="media one">

        <div class="media-body">
          <h5 class="mt-0">{{Senior.data}}</h5>
          <h5>SENIOR LECTURERS</h5>
        </div>
        <i class="fa fa-users align-self-center"></i>
   
      </div>
    </div>

    <div class="col-md-4 col-sm-6" >
      <div class="media two">

        <div class="media-body">
          <h5 class="mt-0">{{Junior.data}}</h5>
          <h5>JUNIOR LECTURERS</h5>
        </div>
        <i class="fa fa-users align-self-center"></i>

      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="media three">
    
        <div class="media-body">
          <h5 class="mt-0">{{Phd.data}}</h5>
          <h5>TOTAL PHD</h5>
        </div>
        <i class="fa fa-users align-self-center"></i>

      </div>
    </div>



  </div>
</div>